
@font-face {
  font-family: "helvetica-now-light";
  src: local("helvetica-now-light"), url("./fonts/helvetica\ now/HelveticaNowText-Light.ttf");
}

@font-face {
  font-family: "millimeter";
  src: local("millimeter"), url("./fonts/basis.ttf");
}

@font-face {
  font-family: "millimeter-light";
  src: local("millimeter-light"), url("./fonts/basis-light.ttf");
}

@font-face {
  font-family: "helvetica-now";
  src: local("helvetica-now"), url("./fonts/basis.ttf");
}

@font-face {
  font-family: "helvetica-now-light";
  src: local("helvetica-now-light"), url("./fonts/basis-light.ttf");
}

@font-face {
  font-family: "commune";
  src: local("commune"), url("./fonts/Commune-Nuit_Debout_web.ttf");
}

* {
  font-family: "millimeter";
  scroll-behavior: smooth;
}

.loader-logo {
  animation:rotate 1s linear infinite;
}


@keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}








